.user-profile {
    &__container {
        max-width: 1024px;
        width: 100%;
        background: #fff;
        margin: 40px auto 100px;
        border: 1px solid #ccc;
    }
    &__displayer {
        padding: 45px 40px;
    }
}