.gallery {
    &-container {
        background: #fff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    &-box {
        flex: 0 0 31%;
        height: 180px;
        margin-bottom: 10px;
        margin-right: 1%;
        box-sizing: border-box;
        border: 8px solid #F8F8F8;
        background: #f2f2f2;
        overflow: hidden;
        &__picture {
            &:hover img {
                transform: scale(1.2);
                opacity: 1;
            }
            img {
                width: 100%;
                height: auto;
                opacity: .8;
                transition: all .4s ease-in-out;
            }
        }
    }
}