.profilenavbar {
    &-background {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    &-nav {
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 40px;
        margin: 0;
        border-top: 2px solid #fff;
        background: #7AD6BB;
        margin-top: -4px;
        position: relative;
        &__avatar {
            position: absolute;
            top: -50px;
            left: 45px;
            max-width: 126px;
            width: 100%;
            height: 126px;
            border: 8px solid rgba(250, 250, 250, .6);
            border-radius: 500px;
            -webkit-border-radius: 500px;
            -moz-border-radius: 500px;
        }
        &__buttons {
            display: flex;
            align-items: center;
            .button-nav {
                width: 35px;
                height: 35px;
                border: 1.5px solid transparent;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: .9;
                transition: border-color .3s ease-in-out, opacity .1s ease-in-out;
                &:first-child {
                    margin-right: 30px;
                }
                &.active {
                    border-color: #fff;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}